<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/employees">Employees</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/reports">Reports</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login"><%=(@user != nil)?@user:"Login"%></a>
  </li>
</ul>