/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .nav{
     background-color: rgb(132, 240, 231)
 }
 .emp_table{
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
    
}
 .FName_col{
    grid-column: 1/2;
 }
 .LName_col{
     grid-column: 2/3;
 }
 .Edit_col{
     grid-column: 3/4;
 }
.table_labels{
    grid-row: 1/2;
    background-color: #aaaaaa;
}


.reports_table{
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 80vw;
    
}
 .time_in_col{
    grid-column: 1/2;
 }
 .time_out_col{
     grid-column: 2/3;
 }
 .report_type_col{
     grid-column: 3/4;
 }
 .card_value_col{
    grid-column: 4/5;
}
.employee_col{
    grid-column: 5/6;
}
.report_labels{
    grid-row: 1/2;
    background-color: #aaaaaa;
}

.main_sec{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div{
    margin: 10px 0 ;
}